/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


html{
    background-color: black;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.01ms;
    background: rgb(0,0,0);
    background: linear-gradient(36deg, rgba(0,0,0,1) 16%, rgba(49,87,93,1) 80%);
    /* background-image: url(./assets/images/wall.png); */
}

a{
    color: aquamarine;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:visited{
    color: aquamarine;
}

a:hover{
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    /* background-color: yellow; */
}

.btt2{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: aquamarine;
    color: black !important;
    border-radius: 50%;
    height:40px;
    width: 40px;
    font-size: 30px;
    /* box-shadow: 3px 3px 4px; */
}

.btt2:hover{
    filter: invert(100%);
    filter: grayscale(100%);
}

i.fa.fa-angle-up{
    padding-left: 8px;
    font-size: 36px;
}

.vl{
    display: none;
    border: 1px solid white;
    /* height: inherit; */
    margin-top: 10rem;
    transition: all 0.3s ease-in-out;
    height: 27rem;
}

.nav-icons svg{
    display: none;
    transform: scale(1.5);
}

/* ----------------------------------------------- sidebar */

.sidebar{
    color:aquamarine;
    /* background-color: rgb(38, 38, 38); */
    width: 200px;
    height: 100vh;
    /* position: fixed; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in;
}

/* .home-nav{
    display: none;
} */

/* .sidebar nav{
    padding: 17px;
} */

.sidebar nav ul{
    list-style: none;
    display: flex;
    flex-direction:column;
    --_gap: 5rem;
    /* padding: 0; */
}

.sidebar nav ul li{
    /* padding: 15px 0px; */
    position: relative;
    padding-block: calc(var(--_gap) / 2);
    padding-bottom:5px;
    font-size: 20px;
}

.sidebar nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: white;
    scale: 0 1;
    transition: scale 250ms;
}

.sidebar nav ul li a:hover:after{
    scale: 0.5 1;
}


/*--------------------------------------------- main page */

.mainpage{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: red; */
    width: 90vw;
    /* width: 86vw; */
    /* padding-left: 12.5rem; */
}

.mpaboutme{
    color: aquamarine;
    /* background-color: red; */
    /* background-color: rgb(0, 0, 0); */
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mpimg img{
    width: 20rem;
    height: 20rem;
    filter: invert(100%);
    /* margin: 0; */
}

.buttons{
    padding-top: 20px;
}

.buttons button {
    padding: 9px;
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin: 0px 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
}

.buttons button:hover{
    filter: invert(100%);
    color: #80002b;
}

.mpinfo .hi{
    color: white;
    font-size: 40px;
}

.sn{
    color: white;
}

.mpinfo .name{
    font-weight: bold;
    font-size: 50px;
}

.mpinfo .smallinfo{
    font-size: 20px;
}

/* .mpinfo .buttons button a i{
    filter: grayscale(100%);
} */

/* .download-cv{
    background-color: white;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 11px;
    font-size: 14px;
    transition: all 0.2s ease-in;
}

.download-cv:hover{
    filter: invert(100%);
    color: #80002b;
}

.download-cv a{
    color: rgb(0, 0, 0);
} */



/* -----------------------------------------------------------  about me */

#aboutme{
    /* background-color: rgb(78, 194, 157); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100vh;
    width: 100vw !important;
    margin: 0 auto;
}

div#aminfo{
    width: 58%;
}

/* div#aboutmeimg{
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    
} */

/* div#aboutmeimg .download-cv{
    text-transform: uppercase;
    padding: 5px;
    font-size: 17px;
} */

/* div#aboutmeimg img:hover + .download-cv{
    visibility:initial;
} */

#aboutme .hi{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#aboutmeimg.mpimg{
    position: relative;
    overflow: hidden;
    /* background-color: rgb(0, 0, 0); */
    border: 5px solid white;
    border-radius: 30px;
    height: 20rem;
    width: auto;
}

#aboutmeimg.mpimg:hover .pd-content{
    right: 0;
 
}

div#aboutmeimg > img{
    height: 100%;
    border-radius: 25px;
    filter: inherit;
}

div#aboutmeimg > .pd-content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: -100%;
    font-size: 22px;
    height: 20rem;
    width: 20rem;
    border-radius: 25px;
    /* filter: blur(10px); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    transition: 0.5s;
}


.info-cards{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    background-color: rgba(30, 30, 30, 0.256);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.452);
    /* background-color: rgba(127, 255, 212, 0.388);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.474); */
    /* background:inherit; */
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.info-cards:hover{
    transform: scale(1.1);
}

.amheading{
    /* margin: 10px; */
    font-size: 40px;
}

.aboutme-cards{
    /* width: auto; */
    /* background-color: red; */
    border-radius: 10px;
    display: flex;
    gap: 2rem;
}

.intro{
    height: 6rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-card{
    margin: 2px 30px;
}

.intro-info{
    text-align: center;
    color: white;
    transition: all 0.3s ease;
}

.intro-info:hover{
    color: aquamarine;
    cursor: normal;
}

.skills{
    background-color: rgba(30, 30, 30, 0.256);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.452);
    /* background-color: rgba(127, 255, 212, 0.388);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.474);
    background:inherit; */
    backdrop-filter: blur(20px);
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.skills:hover{
    transform: scale(1.1);
    z-index: 1;
}

.pro-hob{
    display: flex;
    gap: 10px;
    width: 100%;
}

div.progress-heading{
    font-size: 30px;
    /* text-align: justify; */
}

.progress-content{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    transition: all 0.3s ease;
}

.progress-content:hover{
    color: aquamarine;
    cursor: default;
}

/* .progress-bar{
    background-color: rgb(0, 0, 0);
    width: 30rem;
    border-radius: 10px;
}

.progress-bar div{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
}

.progress-bar.html div{
    width: 86%;
}

.progress-bar.css div{
    width: 50%;
}

.progress-bar.javascript div{
    width: 50%;
} */

/* .outer{
    display: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.inner{
    display: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
} */

/* --------------------------------------------------------- education info */

#education{
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly;
}

.card-box{
    display: flex;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw !important; */
    margin: 0 auto;
}

.edheading{
    color: white;
    font-size: 40px;
}

/* -------------------------------------------------------------experience */

#experience{
    /* background-color: rgb(78, 194, 157); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ------------------------------------------------------- cards */

.card{
    background-color: rgba(30, 30, 30, 0.256);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.452);
    /* background-color: rgba(127, 255, 212, 0.388);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.474);
    background:inherit; */
    backdrop-filter: blur(20px);
    border-radius: 15px;
    height: 50vh;
    text-align: center;
    width: 18rem;
    transition:all 0.2s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    height: 200px;
}

.card p{
    color: white;
}

.card-img-top{
    margin-top: 40px;
    border-radius: 15px;
}

/* ----------------------------------------contact */

#contact{
    /* background-color: rgb(78, 194, 157); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cheading{
    color: white;
    font-size: 40px;
}

.form-box{
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw !important; */
    margin: 0 auto;
}

.contactinfo{
    height: 65%;
    width: 100%;
    /* background-color: red; */
}

.contactinfo{
    display: flex;
    flex-direction: column;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.contactinfo > .num {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactinfo > .location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactinfo > .email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactinfo > .social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links{
    display: flex;
    gap: 20px;
}

.contact-icon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.contactinfo p{
    font-size: 20px;
}


/*------------------------------------------ footer */

.footer{
    color: white;
    display: flex;
    /* background-color: rgb(29, 29, 29); */
    height: 5rem;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fn{
    color: aquamarine;
}
